h1 {
  font-size: 2.0em;
  font-style: normal;
  font-family: helvetica,arial,verdana,sans-serif;
  font-weight: 600;
  color: rgb(51,51,51);
  text-align: right;
}

h2 {
  font-size: 2em;
  font-style: normal;
  font-family: helvetica,arial,verdana,sans-serif;
  font-weight: 100;
  color: rgb(51,51,51);
  text-align: right;
}

h3 {
  font-size: 1.5em;
  font-style: normal;
  font-family: helvetica,arial,verdana,sans-serif;
  font-weight: 100;
  color: rgb(51,51,51);
}

a {
  color: rgb(142, 184, 226);
  text-decoration: none;
}

.containerForImageRollover {
  position: relative;
  width: 50%;
}

.image{
  opacity: 1;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, -50%)
}

.containerForImageRollover:hover .image {
  opacity: 0.3;
}

.containerForImageRollover:hover .middle {
  opacity: 1;
}

.textForImageRollover {
}

.imageRollover {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middleRollover {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.containerRollover:hover .image {
  opacity: 0.3;
}

.containerRollover:hover .middle {
  opacity: 1;
}

.featureImage{
  width: 100%
}

.featuredWork{
  width: 33%;
  text-align: center;
  vertical-align: center;
  padding: 0px;
  background-color: white;
}

.featuredWorkImage{
  max-width: 60%;
}

.flexContainer{
  display : flex;
  flex-wrap: wrap;
  background-color: white;
}

.headerSection{
  display : flex;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
}

.headerSectionColumn1{
  width: 20%;
}
.headerSectionColumn2{
  width: 10%;
}
.headerSectionColumn3{
  width: 90%;
}

.logo {
  width: 100%;
  margin:0;
  }

.mainSection{
  display : flex;
  flex-wrap: wrap;
  background-color: white;
}

.mainSectionColumn1{
  width: 20%;
}
.mainSectionColumn2{
  width: 80%;
}

.mainSectionColumn2a{
  width: 30%;
}
.mainSectionColumn2b{
  width: 70%;
}

.myParagraph{
  font-size: 1.0em;
  font-style: normal;
  font-family: helvetica,arial,verdana,sans-serif;
  font-weight: 100;
  color: rgb(51,51,51);
}

.myTitle {
  font-size: 0.5em;
  font-style: normal;
  font-family: helvetica,arial,verdana,sans-serif;
  font-weight: 100;
  color: rgb(51,51,51);
}

.name {
  font-size: 1.0em;
  font-style: normal;
  font-family: helvetica,arial,verdana,sans-serif;
  font-weight: 600;
  color: rgb(51,51,51);
  text-align: right;
}

.pageBorder{
  padding: 80px;
}

.photo{
  max-width: 80%;
  padding-top: 110px;
  padding-left: 10px;
  padding-right: 10px;
}

.pushDown{
  padding-top: 10px;
}

.right {
   text-align: right;
}

.textTreatment{
  font-size: 1.5em;
  font-style: normal;
  font-family: helvetica,arial,verdana,sans-serif;
  font-weight: 100;
  color: rgb(51,51,51);
}

/*mobile phone screen*/
@media screen and (max-width:640px) {

    .pageBorder{
      padding: 10px;
    }

    .headerSectionColumn1{
      width: 20%;
    }
    .headerSectionColumn2{
      width: 30%;
    }
    .headerSectionColumn3{
      width: 70%;
    }


    .mainSectionColumn1{
      width: 100%;
      vertical-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    .mainSectionColumn2{
            padding-top: 20px;
      width: 100%;
    }
    .mainSectionColumn2a{
      width: 0%;
    }
    .mainSectionColumn2b{
      width: 0%;
    }

    .photo{
      max-width: 100%;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      border-width: medium;
      border-style: outset;

    }

    .myParagraph{
      font-size: 1.0em;
      font-style: normal;
      font-family: helvetica,arial,verdana,sans-serif;
      font-weight: 100;
      color: rgb(51,51,51);
    }

    .textTreatment{
      font-size: 1.0em;
      font-style: normal;
      font-family: helvetica,arial,verdana,sans-serif;
      font-weight: 100;
      color: rgb(51,51,51);
    }
}

/* middle size screen */
    @media screen and (min-width: 641px) and (max-width:1007px) {
        body {
/* TODO: another break */
        }
    }
